/* sisi kanan */

.judul{

    position: absolute;
    text-align:right; 
    right: 560px; 
    top: 45px;
    /* margin-bottom: 10px; */
    text-shadow: 4px 2px 0px rgb(184, 179, 179);
    /* filter: drop-shadow(10px 10px 18px rgb(214, 44, 44)); */
}

.kanan{

    position: absolute;
    text-align: left; 
    left:900px;
    right: 350px; 
    top: 80px;
    
}

.imgs img{
    margin-left:80px; 
    margin-top: 49px;
    width: 40rem;
    height: 20rem;
}

/* sisi kiri */
.juduk{
    position: absolute;
    text-align:right; 
    left: 180px; 
    top: 45px;
    /* margin-bottom: 10px; */
    text-shadow: 4px 2px 0px rgb(184, 179, 179);
}

.kiri{

    position: absolute;
    text-align: left;
    top: 80px;
    left: 100px;
    right: 1100px;
}


.jarak{

    top: 10px;
    /* margin-right:0px;
    margin-right: 0px; */
}

.foto img{
    margin-left: 900px;
    margin-top: 49px;
    width: 40rem;
    height: 20rem;

}

/* .sinergi{
    
    text-align: left;
    margin-left: 150px;
} */


.blok{

    margin-block:calc(50vh 50px);
}