/* khusus*/

.sinergi{
    
    position: absolute;
    text-align:right; 
    left:850px; 
    top: 65px;
    text-shadow: 4px 2px 2px rgb(184, 179, 179);
    font-size: 65px;
    font-family: 'Lalezar';
}
.sinergi2{
    position: absolute;
    text-align:right; 
    left:1150px; 
    top: 125px;
    bottom: 50px;
    text-shadow: 4px 2px 2px rgb(184, 179, 179);
    font-size: 65px;
    font-family: 'Lalezar';
}

/* sisi kanan */

.judul{

    position: absolute;
    font-size: 85px;
    text-align:right; 
    left: 900px; 
    top: 85px;
    /* margin-bottom: 10px; */
    text-shadow: 6px 4px 4px rgb(184, 179, 179);
    font-family: 'Lalezar';
    
}

.kanan{

    position: absolute;
    text-align: left; 
    left:850px;
    right: 260px; 
    top: 195px;
    
}

.imgs img{
    margin-left:80px; 
    margin-top: 49px;
    width: 40rem;
    height: 20rem;
    filter: drop-shadow(10px 10px 2px rgb(92, 90, 90));
    border-radius: 30px;
    object-fit: cover;

}

/* sisi kiri */
.juduk{
    position: absolute;
    text-align:right; 
    left: 100px; 
    top: 85px;
    /* margin-bottom: 10px; */
    text-shadow: 4px 2px 2px rgb(184, 179, 179);
    font-size: 85px;
    font-family: 'Lalezar';
}

.kiri{

    position: absolute;
    text-align: left;
    top: 195px;
    left: 100px;
    right: 1100px;
}

.foto img{
    margin-left: 900px;
    margin-top: 49px;
    width: 40rem;
    height: 20rem;
    filter: drop-shadow(10px 10px 2px rgb(92, 90, 90));
    border-radius: 30px;
    object-fit: cover;
}


.wiro img{
    filter: drop-shadow(20PX 25PX 9PX  rgb(92, 90, 90));
    border-radius: 25px;
    object-fit: cover;
    width: 164vh;
    height: 530px;
}

/* divisi */

.blok{

    margin-block:calc(50vh 50px);
}

.divisi{
    margin-block:calc(35px 40px);
    background-color: rgb(87, 53, 119);
    padding-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 10rem;
    width: 80rem;
}

.divisi2{
    margin-block:calc(35px 40px);
    background-color: #161b1d;
    padding-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 2rem; 
    height: 800rem; 
}
/* .divisi2{
    margin-block: calc(35px 40px);
    background-color: #161b1d;
    padding-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
    padding-bottom: 3rem;
    width: 20em;
    height: 80rem;
} */

.name{
    position: absolute;
    top: 100px;
    left: 5px;
    right: 100px;
    padding: 100px;
    font-size:160px;
   
    filter: drop-shadow(20px 15px 2px rgb(92,90,90));
    font-family: Impact, 'Arial Narrow Bold', sans-serif;

}

.sis{
    position: absolute;
    top: 900px;
    left: 5px;
    padding: 100px;
    font-size: 190px;
    filter: drop-shadow(20px 15px 2px rgb(92,90,90));
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}